<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>American Typewriter</string>
			<string>Courier New</string>
			<string>Courier</string>
			<string>monospace</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>American Typewriter</string>
		<key>oid</key>
		<string>350B7A96-C309-4DA0-9082-115C2C3E36E5-61357-00013A9AF71D4F76</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Andale Mono</string>
			<string>Monaco</string>
			<string>Monospace</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Andale Mono</string>
		<key>oid</key>
		<string>17957EBD-0128-4600-BE3E-3D2565883087-61357-00013A9AF71D7ADC</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>AppleGothic</string>
			<string>sans-serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>AppleGothic</string>
		<key>oid</key>
		<string>C70BC585-EC14-46AC-B72E-CB1ED02CED3B-61357-00013A9AF71D9863</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Arial</string>
			<string>Helvetica</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Arial</string>
		<key>oid</key>
		<string>4BF7E14F-CE89-4098-B76C-8796BE47847A-61357-00013A9AF71DB2F0</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Arial Black</string>
			<string>Gadget</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Arial Black</string>
		<key>oid</key>
		<string>4E6F790D-E88F-4101-8A10-83F3D90937EB-61357-00013A9AF71DCBD8</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Baskerville</string>
			<string>Hoefler Text</string>
			<string>Times New Roman</string>
			<string>serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Baskerville</string>
		<key>oid</key>
		<string>A7B8F3B7-FECA-4077-A052-84BF89BBBD5E-61357-00013A9AF71DE554</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Brush Script MT</string>
			<string>Script</string>
			<string>Cursive</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Brush Script MT</string>
		<key>oid</key>
		<string>F2D6525E-F1A3-4BED-BEF3-0D4BE5572434-61357-00013A9AF71DFD3D</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Chalkboard</string>
			<string>Chalkboard SE</string>
			<string>Comic Sans MS</string>
			<string>sans-serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Chalkboard</string>
		<key>oid</key>
		<string>F8011D50-2997-4679-B769-C6B619DDBED8-61357-00013A9AF71E1689</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Chalkduster</string>
			<string>Papyrus</string>
			<string>fantasy</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Chalkduster</string>
		<key>oid</key>
		<string>245A639B-1442-4DA3-B267-297EB6CE3FDB-61357-00013A9AF71E3AC7</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Cochin</string>
			<string>Times New Roman</string>
			<string>serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Cochin</string>
		<key>oid</key>
		<string>DF97FE0C-22E0-48AF-996E-062E5C71CB0F-61357-00013A9AF71E536E</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Comic Sans MS</string>
			<string>Chalkboard</string>
			<string>Chalkboard SE</string>
			<string>sans-serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Comic Sans MS</string>
		<key>oid</key>
		<string>A71EFE54-C495-4664-AF20-E65449828EAE-61357-00013A9AF71E6B84</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Copperplate</string>
			<string>sans-serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Copperplate</string>
		<key>oid</key>
		<string>F0CE64D0-2792-49E3-88E8-7CDD692646CC-61357-00013A9AF71E83ED</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Courier</string>
			<string>Courier New</string>
			<string>Monospace</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Courier</string>
		<key>oid</key>
		<string>2A3EC47D-FD75-4B21-AD3A-DE7693C2BB0F-61357-00013A9AF71E9B77</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Courier New</string>
			<string>Courier</string>
			<string>Monospace</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Courier New</string>
		<key>oid</key>
		<string>AE2118B4-0405-490F-950D-26DD0F8DDD99-61357-00013A9AF71EB2ED</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Didot</string>
			<string>Times New Roman</string>
			<string>serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Didot</string>
		<key>oid</key>
		<string>CC5A0409-F50E-4922-BDE7-7A26BF06FDEA-61357-00013A9AF71ECA0B</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Futura</string>
			<string>Verdana</string>
			<string>sans-serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Futura</string>
		<key>oid</key>
		<string>4F1316FB-AC93-4D1C-B18D-20E6CF7B1358-61357-00013A9AF71EE126</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Georgia</string>
			<string>Times</string>
			<string>Times New Roman</string>
			<string>Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Georgia</string>
		<key>oid</key>
		<string>08D0958B-E898-46D0-A9D0-118E37212140-61357-00013A9AF71EF850</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Gill Sans</string>
			<string>Lucida Grande</string>
			<string>Helvetica</string>
			<string>sans-serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Gill Sans</string>
		<key>oid</key>
		<string>F0D4A61E-BF92-46C1-903E-5F7DAA8D90D4-61357-00013A9AF71F10EC</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Helvetica</string>
			<string>Arial</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Helvetica</string>
		<key>oid</key>
		<string>28AB3EF5-CCC4-4543-A473-B48CADC363FD-61357-00013A9AF71F2829</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Helvetica Neue</string>
			<string>Arial</string>
			<string>Helvetica</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Helvetica Neue</string>
		<key>oid</key>
		<string>7A29B3F3-81AC-484E-B6FB-BBFC4C2F661A-61357-00013A9AF71F4653</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Hoefler Text</string>
			<string>Georgia</string>
			<string>Times New Roman</string>
			<string>serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Hoefler Text</string>
		<key>oid</key>
		<string>1F1166CD-928D-4551-B2B4-7C613D952470-61357-00013A9AF71F5F66</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Impact</string>
			<string>Arial Narrow Bold</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Impact</string>
		<key>oid</key>
		<string>1AADC3F2-D21C-4A8C-9FF9-FFDF41408B22-61357-00013A9AF71F76CA</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Marker Felt</string>
			<string>Comic Sans MS</string>
			<string>sans-serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Marker Felt</string>
		<key>oid</key>
		<string>C3B5F586-ECFA-409D-B1D4-D895E69C956E-61357-00013A9AF71F8E78</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Optima</string>
			<string>Lucida Grande</string>
			<string>Helvetica</string>
			<string>sans-serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Optima</string>
		<key>oid</key>
		<string>A608EAD0-06E0-4BF4-8F27-AEB6E4470AEE-61357-00013A9AF71FA5CA</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Papyrus</string>
			<string>fantasy</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Papyrus</string>
		<key>oid</key>
		<string>D5EE60C0-CEFA-4E18-B778-2F6845E640FE-61357-00013A9AF71FBC3D</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Times</string>
			<string>Times New Roman</string>
			<string>Georgia</string>
			<string>Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Times</string>
		<key>oid</key>
		<string>29E44B9C-2DFF-4574-9BBD-CD5A5AE158CF-61357-00013A9AF71FD372</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Times New Roman</string>
			<string>Times</string>
			<string>Baskerville</string>
			<string>Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Times New Roman</string>
		<key>oid</key>
		<string>8A5722C7-576B-4DE8-8620-1EAB9C8AED51-61357-00013A9AF71FEAE3</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>TrebuchetMS</string>
			<string>Trebuchet MS</string>
			<string>Lucida Grande</string>
			<string>Tahoma</string>
			<string>Arial</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Trebuchet MS</string>
		<key>oid</key>
		<string>60FA6C1C-3601-45A4-8DB4-CD226D9F83D2-61357-00013A9AF7200EFA</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Verdana</string>
			<string>Tahoma</string>
			<string>Geneva</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Verdana</string>
		<key>oid</key>
		<string>467E27FC-A587-467B-BA97-CADB96BA7041-61357-00013A9AF720276C</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Zapfino</string>
			<string>Script</string>
			<string>Cursive</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Zapfino</string>
		<key>oid</key>
		<string>4821B50E-F298-4EF0-9F27-E39DBF5E33FF-61357-00013A9AF7203EB3</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Avenir Next Condensed</string>
			<string>Avenir Next</string>
			<string>Avenir</string>
			<string>Helvetica</string>
			<string>Arial</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Avenir Next Condensed</string>
		<key>oid</key>
		<string>427b61d9-f83c-4efd-8724-9bcf7793a432</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Avenir Next</string>
			<string>Avenir</string>
			<string>Helvetica</string>
			<string>Arial</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Avenir Next</string>
		<key>oid</key>
		<string>f495f1fe-cfc3-47cf-9a9c-ab1ed6c06e8b</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Avenir</string>
			<string>Helvetica</string>
			<string>Arial</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Avenir</string>
		<key>oid</key>
		<string>c2bce0c4-6865-42ba-a482-a3ccc2eae4de</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Marion</string>
			<string>Hoefler Text</string>
			<string>Baskerville</string>
			<string>Times New Roman</string>
			<string>serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Marion</string>
		<key>oid</key>
		<string>2a67345f-10af-4b76-ab57-90d53cfc80d9</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Noteworthy</string>
			<string>Chalkboard</string>
			<string>Chalkboard SE</string>
			<string>Comic Sans MS</string>
			<string>sans-serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Noteworthy</string>
		<key>oid</key>
		<string>a0c340dd-b581-40f6-bb0d-0e6770d8fe84</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Palatino</string>
			<string>Times New Roman</string>
			<string>serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Palatino</string>
		<key>oid</key>
		<string>23f101d9-fabb-4078-b9f5-a16293d61400</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>Helvetica-Light</string>
			<string>Helvetica Light</string>
			<string>Helvetica</string>
			<string>Arial</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Helvetica Light</string>
		<key>oid</key>
		<string>f2f5a21b-34bb-465e-a51a-4c1393f69302</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>HelveticaNeue-Light</string>
			<string>Helvetica Neue Light</string>
			<string>Helvetica-Light</string>
			<string>HelveticaNeue</string>
			<string>Helvetica Neue</string>
			<string>Helvetica</string>
			<string>Arial</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Helvetica Neue Light</string>
		<key>oid</key>
		<string>90ccdf06-83ab-4790-9942-8b8bf3f4dcd4</string>
	</dict>
	<dict>
		<key>categories</key>
		<array>
			<string>iOS</string>
		</array>
		<key>fontNames</key>
		<array>
			<string>system</string>
			<string>-apple-system</string>
			<string>&apos;.SFNSDisplay-Regular&apos;</string>
			<string>Helvetica Neue</string>
			<string>Lucida Grande</string>
			<string>Helvetica</string>
			<string>Arial</string>
			<string>Sans-Serif</string>
		</array>
		<key>fontSource</key>
		<integer>0</integer>
		<key>name</key>
		<string>Apple System Font</string>
		<key>oid</key>
		<string>3e7784bf-e52a-4310-9635-9b84a3be573a</string>
	</dict>
</array>
</plist>
