<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a-yosemiteBlue</key>
	<dict>
		<key>0</key>
		<string>#4792e2</string>
	</dict>
	<key>addLayoutPopover.device.icon</key>
	<dict>
		<key>0</key>
		<string>#666666</string>
		<key>1</key>
		<string>$a-yosemiteBlue</string>
	</dict>
	<key>addLayoutPopover.device.name</key>
	<dict>
		<key>0</key>
		<string>#333333</string>
		<key>1</key>
		<string>#348dfa</string>
	</dict>
	<key>addLayoutPopover.device.size</key>
	<dict>
		<key>0</key>
		<string>#666666</string>
		<key>1</key>
		<string>$addLayoutPopover.device.name:1</string>
	</dict>
	<key>animationColor</key>
	<dict>
		<key>0</key>
		<string>$a-yosemiteBlue</string>
	</dict>
	<key>bordermatrix.background</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.static:0</string>
		<key>10</key>
		<string>$hypetheme.button.background:8</string>
		<key>2</key>
		<string>#888888</string>
		<key>8</key>
		<string>$hypetheme.control.background.static:8</string>
	</dict>
	<key>bordermatrix.background.yosemite</key>
	<dict>
		<key>0</key>
		<string>#282828</string>
		<key>10</key>
		<string>#191919</string>
		<key>2</key>
		<string>#535353</string>
		<key>8</key>
		<string>#191919</string>
	</dict>
	<key>bordermatrix.icon</key>
	<dict>
		<key>0</key>
		<string>#a7acb1</string>
		<key>10</key>
		<string>$hypetheme.button.text:8</string>
		<key>2</key>
		<string>#FFFFFF</string>
		<key>8</key>
		<string>$hypetheme.control.text.interior:8</string>
	</dict>
	<key>bordermatrix.icon.yosemite</key>
	<dict>
		<key>0</key>
		<string>#777777</string>
		<key>10</key>
		<string>#3D3D3D</string>
		<key>2</key>
		<string>#FFFFFF</string>
		<key>8</key>
		<string>#3D3D3D</string>
	</dict>
	<key>calculatedSceneBackground</key>
	<dict>
		<key>0</key>
		<string>#57585D</string>
	</dict>
	<key>customizable.background</key>
	<dict>
		<key>0</key>
		<string>$heavyBorder</string>
	</dict>
	<key>customizable.dragregion</key>
	<dict>
		<key>0</key>
		<string>$a-yosemiteBlue</string>
	</dict>
	<key>customizable.widget.tick</key>
	<dict>
		<key>0</key>
		<string>$calculatedSceneBackground</string>
	</dict>
	<key>flexible.background</key>
	<dict>
		<key>0</key>
		<string>$subpaneBackground</string>
	</dict>
	<key>flexible.border</key>
	<dict>
		<key>0</key>
		<string>$lightBorder</string>
	</dict>
	<key>flexible.icon</key>
	<dict>
		<key>0</key>
		<string>#7F7F7F</string>
		<key>1</key>
		<string>$a-yosemiteBlue</string>
	</dict>
	<key>flexible.innerborder</key>
	<dict>
		<key>0</key>
		<string>$flexible.icon</string>
	</dict>
	<key>gradientview.default.background.bottom</key>
	<dict>
		<key>0</key>
		<string>$gradientview.default.background.top</string>
	</dict>
	<key>gradientview.default.background.top</key>
	<dict>
		<key>0</key>
		<string>#57585d</string>
	</dict>
	<key>heavyBorder</key>
	<dict>
		<key>0</key>
		<string>#000000</string>
	</dict>
	<key>hypetheme.button.background</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.static:0</string>
		<key>10</key>
		<string>$hypetheme.button.background:8</string>
		<key>2</key>
		<string>$labelColor</string>
		<key>8</key>
		<string>$hypetheme.control.background.static:8</string>
	</dict>
	<key>hypetheme.button.text</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.text.interior:0</string>
		<key>10</key>
		<string>$hypetheme.button.text:8</string>
		<key>2</key>
		<string>$hypetheme.control.text.interior:2</string>
		<key>8</key>
		<string>$hypetheme.control.text.interior:8</string>
	</dict>
	<key>hypetheme.checkbox.background</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.dynamic:0</string>
		<key>2</key>
		<string>$hypetheme.control.background.dynamic:2</string>
		<key>8</key>
		<string>$hypetheme.control.background.dynamic:8</string>
	</dict>
	<key>hypetheme.checkbox.mark</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.mark:0</string>
		<key>2</key>
		<string>$hypetheme.control.mark:2</string>
		<key>8</key>
		<string>$hypetheme.control.background.dynamic:8</string>
	</dict>
	<key>hypetheme.control.background.dynamic</key>
	<dict>
		<key>0</key>
		<string>$labelColor:0</string>
		<key>10</key>
		<string>$hypetheme.control.background.dynamic:8</string>
		<key>2</key>
		<string>#FFFFFF</string>
		<key>8</key>
		<string>$labelColor:8</string>
	</dict>
	<key>hypetheme.control.background.static</key>
	<dict>
		<key>0</key>
		<string>#5a5a5e</string>
		<key>2</key>
		<string>$hypetheme.control.background.static:0</string>
		<key>8</key>
		<string>#4b4b4f</string>
	</dict>
	<key>hypetheme.control.mark</key>
	<dict>
		<key>0</key>
		<string>$standardBackground</string>
		<key>2</key>
		<string>hypetheme.control.mark:0</string>
		<key>8</key>
		<string>$labelColor</string>
	</dict>
	<key>hypetheme.control.text</key>
	<dict>
		<key>0</key>
		<string>$labelColor:0</string>
		<key>1</key>
		<string>#FFFFFF</string>
		<key>2</key>
		<string>#FFFFFF</string>
		<key>8</key>
		<string>$labelColor:8</string>
	</dict>
	<key>hypetheme.control.text.interior</key>
	<dict>
		<key>0</key>
		<string>#c7ccd1</string>
		<key>2</key>
		<string>$standardBackground</string>
		<key>8</key>
		<string>$labelColor:8</string>
	</dict>
	<key>hypetheme.popupbutton.arrows.background</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.dynamic:0</string>
		<key>2</key>
		<string>$hypetheme.control.background.dynamic:2</string>
		<key>8</key>
		<string>$hypetheme.control.background.dynamic:8</string>
	</dict>
	<key>hypetheme.scroller.background</key>
	<dict>
		<key>0</key>
		<string>#67686D</string>
	</dict>
	<key>hypetheme.segmentedcontrol.background</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.static:0</string>
		<key>1</key>
		<string>$labelColor</string>
		<key>10</key>
		<string>$hypetheme.button.background:8</string>
		<key>2</key>
		<string>#FFFFFF</string>
		<key>3</key>
		<string>#FFFFFF</string>
		<key>8</key>
		<string>$hypetheme.control.background.static:8</string>
	</dict>
	<key>hypetheme.segmentedcontrol.divider</key>
	<dict>
		<key>0</key>
		<string>#454547</string>
		<key>8</key>
		<string>#505050</string>
	</dict>
	<key>hypetheme.slider.circular.bar</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.dynamic:0</string>
		<key>2</key>
		<string>$hypetheme.control.background.dynamic:2</string>
		<key>8</key>
		<string>$hypetheme.control.background.dynamic:8</string>
	</dict>
	<key>hypetheme.slider.circular.knob</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.static:0</string>
		<key>2</key>
		<string>$hypetheme.control.background.static:2</string>
		<key>8</key>
		<string>$hypetheme.control.background.static:8</string>
	</dict>
	<key>hypetheme.slider.linear.bar</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.static:0</string>
		<key>2</key>
		<string>$hypetheme.control.background.static:2</string>
		<key>8</key>
		<string>$hypetheme.control.background.static:8</string>
	</dict>
	<key>hypetheme.slider.linear.knob</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.dynamic:0</string>
		<key>2</key>
		<string>$hypetheme.control.background.dynamic:2</string>
		<key>8</key>
		<string>$hypetheme.control.background.dynamic:8</string>
	</dict>
	<key>hypetheme.slider.linear.knob.border</key>
	<dict>
		<key>0</key>
		<string>$paneBackground</string>
		<key>2</key>
		<string>$paneBackground</string>
		<key>8</key>
		<string>$paneBackground</string>
	</dict>
	<key>hypetheme.stepper.arrow</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.mark:0</string>
		<key>2</key>
		<string>$hypetheme.control.mark:2</string>
		<key>8</key>
		<string>$hypetheme.control.mark:8</string>
	</dict>
	<key>hypetheme.stepper.background</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.dynamic:0</string>
		<key>2</key>
		<string>$hypetheme.control.background.dynamic:2</string>
		<key>8</key>
		<string>$hypetheme.control.background.dynamic:8</string>
	</dict>
	<key>hypetheme.table.border</key>
	<dict>
		<key>0</key>
		<string>#84888c</string>
	</dict>
	<key>hypetheme.textfield.background</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.static:8</string>
		<key>1</key>
		<string>#7F7F7F</string>
		<key>8</key>
		<string>$hypetheme.control.background.static:8</string>
	</dict>
	<key>hypetheme.textfield.border</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.dynamic:0</string>
		<key>8</key>
		<string>$hypetheme.control.background.dynamic:8</string>
	</dict>
	<key>hypetheme.textfield.text</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.text:0</string>
		<key>8</key>
		<string>$hypetheme.control.text:8</string>
	</dict>
	<key>hypetheme.textfield.text.interior</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.text.interior:0</string>
		<key>8</key>
		<string>$hypetheme.control.text.interior:8</string>
	</dict>
	<key>inspector.group.text</key>
	<dict>
		<key>0</key>
		<string>#cccccc</string>
	</dict>
	<key>inspector.group.text.subheading</key>
	<dict>
		<key>0</key>
		<string>#7F7F7F</string>
	</dict>
	<key>inspector.label</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>inspector.matrix.background.bottom</key>
	<dict>
		<key>0</key>
		<string>$playback.background.bottom</string>
	</dict>
	<key>inspector.matrix.background.top</key>
	<dict>
		<key>0</key>
		<string>$playback.background.top</string>
	</dict>
	<key>inspector.matrix.icon</key>
	<dict>
		<key>0</key>
		<string>$inspector.group.text</string>
		<key>1</key>
		<string>$a-yosemiteBlue</string>
	</dict>
	<key>inspector.matrix.icon.background</key>
	<dict>
		<key>1</key>
		<string>#lightBorder</string>
		<key>2</key>
		<string>$lightBorder:0</string>
	</dict>
	<key>labelColor</key>
	<dict>
		<key>0</key>
		<string>#bac0c5</string>
		<key>8</key>
		<string>#6c7073</string>
	</dict>
	<key>lightBorder</key>
	<dict>
		<key>0</key>
		<string>#141516</string>
	</dict>
	<key>mailinglist.info.background</key>
	<dict>
		<key>0</key>
		<string>#0099cc</string>
	</dict>
	<key>paneBackground</key>
	<dict>
		<key>0</key>
		<string>$standardBackground:0</string>
	</dict>
	<key>playback.background.bottom</key>
	<dict>
		<key>0</key>
		<string>#262627</string>
	</dict>
	<key>playback.background.top</key>
	<dict>
		<key>0</key>
		<string>#2b2b2d</string>
	</dict>
	<key>playback.backward.icon</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>playback.border</key>
	<dict>
		<key>0</key>
		<string>$lightBorder</string>
	</dict>
	<key>playback.forward.icon</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>playback.loop.background</key>
	<dict>
		<key>1</key>
		<string>#000000</string>
		<key>3</key>
		<string>#000000</string>
	</dict>
	<key>playback.loop.icon</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
		<key>1</key>
		<string>#FFFFFF</string>
	</dict>
	<key>playback.pause.icon</key>
	<dict>
		<key>1</key>
		<string>#FFFFFF</string>
	</dict>
	<key>playback.play.background</key>
	<dict>
		<key>1</key>
		<string>$a-yosemiteBlue</string>
		<key>3</key>
		<string>#3b90e7</string>
	</dict>
	<key>playback.play.icon</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>playback.record.background</key>
	<dict>
		<key>1</key>
		<string>#b31d1f</string>
		<key>3</key>
		<string>#ae2b2b</string>
	</dict>
	<key>playback.record.background.animation</key>
	<dict>
		<key>0</key>
		<string>#FF3333~.33</string>
	</dict>
	<key>playback.record.icon</key>
	<dict>
		<key>0</key>
		<string>#ce312d</string>
		<key>1</key>
		<string>#FFFFFF</string>
	</dict>
	<key>playback.start.icon</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>playback.zoom.icon</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>proupgrade.button.background</key>
	<dict>
		<key>0</key>
		<string>#5a5a5e</string>
		<key>10</key>
		<string>$proupgrade.button.background:8</string>
		<key>2</key>
		<string>#bac0c5</string>
		<key>8</key>
		<string>#4b4b4f</string>
	</dict>
	<key>proupgrade.button.text</key>
	<dict>
		<key>0</key>
		<string>#c7ccd1</string>
		<key>10</key>
		<string>#6c7073</string>
		<key>2</key>
		<string>#323236</string>
		<key>8</key>
		<string>#6c7073</string>
	</dict>
	<key>proupgrade.checkbox.background</key>
	<dict>
		<key>0</key>
		<string>#bac0c5</string>
		<key>2</key>
		<string>#FFFFFF</string>
		<key>8</key>
		<string>#6c7073</string>
	</dict>
	<key>proupgrade.checkbox.mark</key>
	<dict>
		<key>0</key>
		<string>#323236</string>
		<key>2</key>
		<string>#323236</string>
		<key>8</key>
		<string>#6c7073</string>
	</dict>
	<key>proupgrade.textfield.text</key>
	<dict>
		<key>0</key>
		<string>#bac0c5</string>
		<key>8</key>
		<string>#6c7073</string>
	</dict>
	<key>resources.background.row</key>
	<dict>
		<key>0</key>
		<string>$timeline.background.row:0</string>
		<key>1</key>
		<string>$sourcelist.background.row:1</string>
		<key>4</key>
		<string>$timeline.background.row:0</string>
		<key>5</key>
		<string>$sourcelist.background.row:5</string>
	</dict>
	<key>resources.background.row.alternating</key>
	<dict>
		<key>0</key>
		<string>$timeline.background.row.alternating:0</string>
		<key>1</key>
		<string>$sourcelist.background.row:1</string>
		<key>4</key>
		<string>$timeline.background.row.alternating:0</string>
		<key>5</key>
		<string>$sourcelist.background.row:5</string>
	</dict>
	<key>resources.matrix.background.bottom</key>
	<dict>
		<key>0</key>
		<string>$playback.background.bottom</string>
	</dict>
	<key>resources.matrix.background.top</key>
	<dict>
		<key>0</key>
		<string>$playback.background.top</string>
	</dict>
	<key>sceneeditor.border.group</key>
	<dict>
		<key>0</key>
		<string>#e5bf73</string>
	</dict>
	<key>sceneeditor.border.guide.active</key>
	<dict>
		<key>0</key>
		<string>#248bf2</string>
	</dict>
	<key>sceneeditor.border.guide.inactive</key>
	<dict>
		<key>0</key>
		<string>#45e5e5</string>
	</dict>
	<key>sceneeditor.border.guide.snap</key>
	<dict>
		<key>0</key>
		<string>$sceneeditor.border.guide.active</string>
	</dict>
	<key>sceneeditor.border.scaleregion</key>
	<dict>
		<key>0</key>
		<string>#DDDDDD</string>
	</dict>
	<key>sceneeditor.border.symbol</key>
	<dict>
		<key>0</key>
		<string>#dd95e5</string>
	</dict>
	<key>sceneeditor.motionpath</key>
	<dict>
		<key>0</key>
		<string>$animationColor</string>
	</dict>
	<key>sceneeditor.motionpath.highlight</key>
	<dict>
		<key>0</key>
		<string>$animationColor~.3</string>
	</dict>
	<key>sceneeditor.overlay.background</key>
	<dict>
		<key>0</key>
		<string>#57585d</string>
	</dict>
	<key>sceneeditor.overlay.border</key>
	<dict>
		<key>0</key>
		<string>#57585D~.75</string>
	</dict>
	<key>sceneeditor.overlay.shadow</key>
	<dict>
		<key>0</key>
		<string>#333333~.5</string>
	</dict>
	<key>sceneeditor.resizehandle.background</key>
	<dict>
		<key>0</key>
		<string>#F7F7F7</string>
	</dict>
	<key>sceneeditor.resizehandle.background.recording</key>
	<dict>
		<key>0</key>
		<string>#F7E1E1</string>
	</dict>
	<key>sceneeditor.resizehandle.background.recording.transform</key>
	<dict>
		<key>0</key>
		<string>#D7A7A7</string>
	</dict>
	<key>sceneeditor.resizehandle.background.transform</key>
	<dict>
		<key>0</key>
		<string>#D7D7D7</string>
	</dict>
	<key>sceneeditor.resizehandle.border</key>
	<dict>
		<key>0</key>
		<string>#515151</string>
	</dict>
	<key>sceneeditor.resizehandle.border.recording</key>
	<dict>
		<key>0</key>
		<string>#A80808</string>
	</dict>
	<key>sceneeditor.ruler.line</key>
	<dict>
		<key>0</key>
		<string>#FFFFFF~.25)</string>
	</dict>
	<key>sceneeditor.ruler.tick</key>
	<dict>
		<key>0</key>
		<string>#c8c8c9</string>
	</dict>
	<key>sceneeditor.ruler.tick.negative</key>
	<dict>
		<key>0</key>
		<string>#97989b</string>
	</dict>
	<key>sceneeditor.selection</key>
	<dict>
		<key>0</key>
		<string>#CECECE</string>
	</dict>
	<key>sceneselector.background</key>
	<dict>
		<key>0</key>
		<string>$paneBackground</string>
		<key>1</key>
		<string>$selectionColor:1</string>
		<key>5</key>
		<string>$selectionColor:5</string>
	</dict>
	<key>sceneselector.background.vibrant</key>
	<dict>
		<key>0</key>
		<string>#42484f</string>
		<key>1</key>
		<string>$a-yosemiteBlue</string>
		<key>5</key>
		<string>#000000</string>
	</dict>
	<key>sceneselector.header.background.bottom</key>
	<dict>
		<key>0</key>
		<string>$playback.background.bottom</string>
	</dict>
	<key>sceneselector.header.background.top</key>
	<dict>
		<key>0</key>
		<string>$playback.background.top</string>
	</dict>
	<key>sceneselector.header.text</key>
	<dict>
		<key>0</key>
		<string>$inspector.group.text</string>
	</dict>
	<key>sceneselector.header.text.icon</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>sceneselector.text.info</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
		<key>1</key>
		<string>#FFFFFF</string>
	</dict>
	<key>sceneselector.text.title</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
		<key>1</key>
		<string>#FFFFFF</string>
	</dict>
	<key>scenevariant.background</key>
	<dict>
		<key>0</key>
		<string>$subpaneBackground</string>
		<key>1</key>
		<string>$selectionColor:1</string>
		<key>5</key>
		<string>$selectionColor:5</string>
	</dict>
	<key>selectionColor</key>
	<dict>
		<key>0</key>
		<string>$a-yosemiteBlue</string>
		<key>1</key>
		<string>$selectionColor:0</string>
		<key>4</key>
		<string>#6a707a</string>
		<key>5</key>
		<string>$selectionColor:4</string>
	</dict>
	<key>shadoweditor.background</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.static:0</string>
		<key>8</key>
		<string>$hypetheme.control.background.static:8</string>
	</dict>
	<key>shadoweditor.border</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.dynamic:0</string>
		<key>8</key>
		<string>$hypetheme.control.background.dynamic:8</string>
	</dict>
	<key>shadoweditor.grid</key>
	<dict>
		<key>0</key>
		<string>$hypetheme.control.background.dynamic:8</string>
		<key>8</key>
		<string>$hypetheme.control.background.dynamic:8</string>
	</dict>
	<key>sourceeditor.background</key>
	<dict>
		<key>0</key>
		<string>$subpaneBackground</string>
		<key>1</key>
		<string>#7F7F7F</string>
	</dict>
	<key>sourceeditor.documentation.background</key>
	<dict>
		<key>0</key>
		<string>$standardBackground</string>
	</dict>
	<key>sourceeditor.documentation.sourcelist.background.row</key>
	<dict>
		<key>0</key>
		<string>$timeline.background.row</string>
		<key>1</key>
		<string>$selectionColor:1</string>
		<key>4</key>
		<string>$sourceeditor.documentation.sourcelist.background.row:0</string>
		<key>5</key>
		<string>$selectionColor:5</string>
	</dict>
	<key>sourceeditor.documentation.sourcelist.background.row.alternating</key>
	<dict>
		<key>0</key>
		<string>$timeline.background.row.alternating</string>
		<key>1</key>
		<string>$sourcelist.background.row:1</string>
		<key>4</key>
		<string>$sourceeditor.documentation.sourcelist.background.row.alternating:0</string>
		<key>5</key>
		<string>$sourceeditor.documentation.sourcelist.background.row:5</string>
	</dict>
	<key>sourceeditor.documentation.sourcelist.background.row.group</key>
	<dict>
		<key>0</key>
		<string>$timeline.background.row.action</string>
	</dict>
	<key>sourceeditor.documentation.sourcelist.text</key>
	<dict>
		<key>0</key>
		<string>$sourcelist.text:0</string>
		<key>1</key>
		<string>$sourcelist.text:1</string>
	</dict>
	<key>sourceeditor.documentation.sourcelist.text.group</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
		<key>1</key>
		<string>#FFFFFF</string>
	</dict>
	<key>sourceeditor.documentation.text</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>sourceeditor.documentation.text.link</key>
	<dict>
		<key>0</key>
		<string>$animationColor</string>
	</dict>
	<key>sourceeditor.linenumbers</key>
	<dict>
		<key>0</key>
		<string>#bbb</string>
	</dict>
	<key>sourceeditor.plaintext</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>sourceeditor.showhide.icon</key>
	<dict>
		<key>0</key>
		<string>#bbb</string>
	</dict>
	<key>sourcelist.background.row</key>
	<dict>
		<key>0</key>
		<string>#323236</string>
		<key>1</key>
		<string>$selectionColor:1</string>
		<key>4</key>
		<string>$sourcelist.background.row:0</string>
		<key>5</key>
		<string>$selectionColor:5</string>
	</dict>
	<key>sourcelist.background.row.action</key>
	<dict>
		<key>0</key>
		<string>#2d2d2d</string>
	</dict>
	<key>sourcelist.background.row.alternating</key>
	<dict>
		<key>0</key>
		<string>#37373b</string>
		<key>1</key>
		<string>$sourcelist.background.row:1</string>
		<key>4</key>
		<string>$sourcelist.background.row.alternating:0</string>
		<key>5</key>
		<string>$sourcelist.background.row:5</string>
	</dict>
	<key>sourcelist.icon</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
		<key>1</key>
		<string>#FFFFFF</string>
	</dict>
	<key>sourcelist.infotext</key>
	<dict>
		<key>0</key>
		<string>#8F8F8F</string>
		<key>1</key>
		<string>#C7C7C7</string>
	</dict>
	<key>sourcelist.text</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
		<key>1</key>
		<string>#FFFFFF</string>
	</dict>
	<key>standardBackground</key>
	<dict>
		<key>0</key>
		<string>#323236</string>
	</dict>
	<key>subpaneBackground</key>
	<dict>
		<key>0</key>
		<string>#262627</string>
	</dict>
	<key>symbolpath.background</key>
	<dict>
		<key>0</key>
		<string>#ae65ae</string>
		<key>2</key>
		<string>#924692</string>
		<key>3</key>
		<string>#772877</string>
	</dict>
	<key>symbolpath.border</key>
	<dict>
		<key>0</key>
		<string>#924692</string>
	</dict>
	<key>tab.background</key>
	<dict>
		<key>0</key>
		<string>$standardBackground</string>
		<key>1</key>
		<string>#525357</string>
		<key>2</key>
		<string>$tab.background:1</string>
		<key>3</key>
		<string>$tab.background:1</string>
		<key>4</key>
		<string>#696b70</string>
		<key>5</key>
		<string>#88898c</string>
		<key>6</key>
		<string>$tab.background:4</string>
		<key>7</key>
		<string>$tab.background:5</string>
	</dict>
	<key>tab.border</key>
	<dict>
		<key>0</key>
		<string>$heavyBorder</string>
	</dict>
	<key>tab.border.bottom</key>
	<dict>
		<key>0</key>
		<string>$heavyBorder</string>
	</dict>
	<key>tab.closebutton</key>
	<dict>
		<key>0</key>
		<string>#7f7f82</string>
		<key>1</key>
		<string>#b6b6b7</string>
	</dict>
	<key>tab.closebutton.background</key>
	<dict>
		<key>0</key>
		<string>$tab.background</string>
		<key>2</key>
		<string>#000000</string>
	</dict>
	<key>tab.icon</key>
	<dict>
		<key>0</key>
		<string>#6b7177</string>
	</dict>
	<key>tab.text</key>
	<dict>
		<key>0</key>
		<string>#CCC</string>
		<key>1</key>
		<string>#CCC</string>
	</dict>
	<key>timecode.selection</key>
	<dict>
		<key>0</key>
		<string>#57585d</string>
	</dict>
	<key>timecode.text.capo</key>
	<dict>
		<key>0</key>
		<string>#ccc</string>
	</dict>
	<key>timecode.text.playhead</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>timeline.background.row</key>
	<dict>
		<key>0</key>
		<string>#36363a</string>
	</dict>
	<key>timeline.background.row.action</key>
	<dict>
		<key>0</key>
		<string>#343438</string>
	</dict>
	<key>timeline.background.row.alternating</key>
	<dict>
		<key>0</key>
		<string>#3d3d41</string>
	</dict>
	<key>timeline.background.selection</key>
	<dict>
		<key>1</key>
		<string>#509be5~.35</string>
		<key>4</key>
		<string>$sourcelist.background.row:5~.5</string>
	</dict>
	<key>timeline.capo.background</key>
	<dict>
		<key>0</key>
		<string>#A0A0A0~0.14</string>
	</dict>
	<key>timeline.capo.background.whitewash</key>
	<dict>
		<key>0</key>
		<string>#57585D~.75</string>
	</dict>
	<key>timeline.capo.border</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>timeline.capo.text</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>timeline.capo.text.background</key>
	<dict>
		<key>0</key>
		<string>#5F6165</string>
	</dict>
	<key>timeline.capo.thumb.background</key>
	<dict>
		<key>0</key>
		<string>$timeline.capo.text.background</string>
	</dict>
	<key>timeline.cursor</key>
	<dict>
		<key>0</key>
		<string>#ffffff</string>
	</dict>
	<key>timeline.displayhidden.background</key>
	<dict>
		<key>0</key>
		<string>#707070~.25</string>
	</dict>
	<key>timeline.displayhidden.divider</key>
	<dict>
		<key>0</key>
		<string>#888888~.5</string>
	</dict>
	<key>timeline.displayhidden.hash</key>
	<dict>
		<key>0</key>
		<string>#727272~.25</string>
	</dict>
	<key>timeline.grid</key>
	<dict>
		<key>0</key>
		<string>#a0a0a0~.25</string>
	</dict>
	<key>timeline.keyframe</key>
	<dict>
		<key>0</key>
		<string>$animationColor</string>
		<key>1</key>
		<string>#FFFFFF</string>
		<key>5</key>
		<string>#a1c3e8</string>
		<key>8</key>
		<string>#8c8c8c</string>
	</dict>
	<key>timeline.keyframe.border</key>
	<dict>
		<key>0</key>
		<string>$timeline.keyframe:0~0.0</string>
		<key>1</key>
		<string>#3075ba~0.0</string>
		<key>5</key>
		<string>$timeline.keyframe.border:0</string>
		<key>8</key>
		<string>#b3b3b3~0.0</string>
	</dict>
	<key>timeline.keyframe.border.bottom</key>
	<dict>
		<key>0</key>
		<string>#3075ba~0.0</string>
		<key>1</key>
		<string>#204d7a~0.0</string>
		<key>5</key>
		<string>$timeline.keyframe.border.bottom:0</string>
		<key>8</key>
		<string>#999999~0.0</string>
	</dict>
	<key>timeline.keyframe.shadow</key>
	<dict>
		<key>0</key>
		<string>#000~0.25</string>
	</dict>
	<key>timeline.segment</key>
	<dict>
		<key>0</key>
		<string>$timeline.keyframe</string>
		<key>1</key>
		<string>$timeline.keyframe:1</string>
		<key>5</key>
		<string>$timeline.keyframe:5</string>
		<key>8</key>
		<string>$timeline.keyframe:8</string>
	</dict>
	<key>timeline.segment.border</key>
	<dict>
		<key>0</key>
		<string>$timeline.segment:0</string>
		<key>1</key>
		<string>$timeline.segment:1</string>
		<key>5</key>
		<string>$timeline.segment:5</string>
		<key>8</key>
		<string>$timeline.segment:8</string>
	</dict>
	<key>timeline.segment.divider</key>
	<dict>
		<key>0</key>
		<string>#FFFFFF</string>
	</dict>
	<key>timeline.video.border</key>
	<dict>
		<key>0</key>
		<string>#000000</string>
		<key>1</key>
		<string>$timeline.keyframe:1</string>
		<key>5</key>
		<string>$timeline.keyframe:5</string>
		<key>8</key>
		<string>$timeline.keyframe.border.bottom:8</string>
	</dict>
	<key>timelinescaleslider.bar</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
	</dict>
	<key>timelinescaleslider.knob</key>
	<dict>
		<key>0</key>
		<string>#FFFFFF</string>
		<key>2</key>
		<string>$lightBorder</string>
	</dict>
	<key>timescale.background</key>
	<dict>
		<key>0</key>
		<string>#57585d</string>
	</dict>
	<key>timescale.duration</key>
	<dict>
		<key>0</key>
		<string>$timeline.keyframe</string>
	</dict>
	<key>timescale.text</key>
	<dict>
		<key>0</key>
		<string>#a3a3a3</string>
	</dict>
	<key>timescale.tick</key>
	<dict>
		<key>0</key>
		<string>#999999</string>
	</dict>
	<key>trialwarning.info.background</key>
	<dict>
		<key>0</key>
		<string>$mailinglist.info.background</string>
	</dict>
	<key>window.background.bottom</key>
	<dict>
		<key>0</key>
		<string>#1c1c1f</string>
		<key>4</key>
		<string>#47474d</string>
	</dict>
	<key>window.background.bottom.yosemite</key>
	<dict>
		<key>0</key>
		<string>#101012</string>
		<key>4</key>
		<string>#303032</string>
	</dict>
	<key>window.background.top</key>
	<dict>
		<key>0</key>
		<string>#36363b</string>
		<key>4</key>
		<string>#58585e</string>
	</dict>
	<key>window.background.top.yosemite</key>
	<dict>
		<key>0</key>
		<string>#202022</string>
		<key>4</key>
		<string>#404042</string>
	</dict>
	<key>window.titlebar.fullscreen</key>
	<dict>
		<key>0</key>
		<string>#7a7b80</string>
	</dict>
	<key>window.titlebar.text</key>
	<dict>
		<key>0</key>
		<string>#FFFFFF</string>
	</dict>
	<key>window.toolbar.preview.arrow.icon</key>
	<dict>
		<key>0</key>
		<string>#FFFFFF</string>
	</dict>
	<key>window.toolbar.text</key>
	<dict>
		<key>0</key>
		<string>#c1c4c7</string>
	</dict>
	<key>window.toolbar.toggle.icon</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
		<key>1</key>
		<string>$a-yosemiteBlue</string>
	</dict>
	<key>window.toolbar.toggle.icon.yosemite</key>
	<dict>
		<key>0</key>
		<string>$labelColor</string>
		<key>1</key>
		<string>$a-yosemiteBlue</string>
	</dict>
</dict>
</plist>
