<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessibilityTabIndex</key>
	<string>ti</string>
	<key>NeedsPhysicsBodyUpdate</key>
	<string>cD</string>
	<key>Slope</key>
	<string>cC</string>
	<key>VelocityFollowingData</key>
	<string>cB</string>
	<key>PhysicsGravityUsesDeviceTilt</key>
	<string>cA</string>
	<key>PhysicsGravityAngle</key>
	<string>bZ</string>
	<key>PhysicsGravityForce</key>
	<string>bY</string>
	<key>PhysicsGravityInheritFromParent</key>
	<string>bX</string>
	<key>PhysicsDensity</key>
	<string>bW</string>
	<key>PhysicsFriction</key>
	<string>bV</string>
	<key>PhysicsAirDrag</key>
	<string>cT</string>
	<key>PhysicsBounce</key>
	<string>bU</string>
	<key>PhysicsBodyType</key>
	<string>bM</string>
	<key>CustomBehaviors</key>
	<string>bT</string>
	<key>SymbolCustomBehaviors</key>
	<string>cV</string>
	<key>AutoresizingMask</key>
	<string>bS</string>
	<key>Depth</key>
	<string>bQ</string>
	<key>ActionHandlerOnMouseClick</key>
	<string>aA</string>
	<key>ActionHandlerOnMouseDown</key>
	<string>aB</string>
	<key>ActionHandlerOnMouseOut</key>
	<string>aC</string>
	<key>ActionHandlerOnMouseOver</key>
	<string>aD</string>
	<key>ActionHandlerOnMouseUp</key>
	<string>aE</string>
	<key>ActionHandlerOnDrag</key>
	<string>bN</string>
	<key>ActionHandlerOnEnterViewport</key>
	<string>cW</string>
	<key>ActionHandlerOnExitViewport</key>
	<string>cX</string>
	<key>ActionHandlerOnSwipeRight</key>
	<string>cG</string>
	<key>ActionHandlerOnSwipeLeft</key>
	<string>cH</string>
	<key>ActionHandlerOnSwipeUp</key>
	<string>cI</string>
	<key>ActionHandlerOnSwipeDown</key>
	<string>cJ</string>
	<key>ActionHandlerOnSceneLoad</key>
	<string>cK</string>
	<key>ActionHandlerOnSceneUnload</key>
	<string>cF</string>
	<key>AdditionalCSS</key>
	<string>aF</string>
	<key>AltText</key>
	<string>aG</string>
	<key>AccessibilityRole</key>
	<string>dB</string>
	<key>Autoplay</key>
	<string>aH</string>
	<key>BackgroundColor</key>
	<string>g</string>
	<key>BackgroundGradientAngle</key>
	<string>l</string>
	<key>BackgroundGradientEndColor</key>
	<string>m</string>
	<key>BackgroundGradientStartColor</key>
	<string>n</string>
	<key>BackgroundImageResourceGroupOid</key>
	<string>h</string>
	<key>BackgroundImagePath</key>
	<string>cZ</string>
	<key>BackgroundOrigin</key>
	<string>o</string>
	<key>BackgroundRepeat</key>
	<string>p</string>
	<key>BackgroundSize</key>
	<string>q</string>
	<key>BorderColorBottom</key>
	<string>A</string>
	<key>BorderColorLeft</key>
	<string>B</string>
	<key>BorderColorRight</key>
	<string>C</string>
	<key>BorderColorTop</key>
	<string>D</string>
	<key>BorderRadiusBottomLeft</key>
	<string>aI</string>
	<key>BorderRadiusBottomRight</key>
	<string>aJ</string>
	<key>BorderRadiusTopLeft</key>
	<string>aK</string>
	<key>BorderRadiusTopRight</key>
	<string>aL</string>
	<key>BorderStyleBottom</key>
	<string>I</string>
	<key>BorderStyleLeft</key>
	<string>J</string>
	<key>BorderStyleRight</key>
	<string>K</string>
	<key>BorderStyleTop</key>
	<string>L</string>
	<key>BorderWidthBottom</key>
	<string>M</string>
	<key>BorderWidthLeft</key>
	<string>N</string>
	<key>BorderWidthRight</key>
	<string>O</string>
	<key>BorderWidthTop</key>
	<string>P</string>
	<key>BoxShadowBlurRadius</key>
	<string>Q</string>
	<key>BoxShadowColor</key>
	<string>R</string>
	<key>BoxShadowXOffset</key>
	<string>S</string>
	<key>BoxShadowYOffset</key>
	<string>T</string>
	<key>ButtonHover</key>
	<string>aM</string>
	<key>ButtonPress</key>
	<string>aN</string>
	<key>ClassName</key>
	<string>cP</string>
	<key>Controls</key>
	<string>aO</string>
	<key>Cursor</key>
	<string>aP</string>
	<key>Display</key>
	<string>r</string>
	<key>DisplayHiddenOverride</key>
	<string>cY</string>
	<key>DisplayOnTopDuringSceneTransition</key>
	<string>cS</string>
	<key>DomID</key>
	<string>i</string>
	<key>FontFamily</key>
	<string>s</string>
	<key>FontSize</key>
	<string>t</string>
	<key>FontStyle</key>
	<string>u</string>
	<key>FontWeight</key>
	<string>v</string>
	<key>Height</key>
	<string>d</string>
	<key>IFrameHTML</key>
	<string>U</string>
	<key>IFrameType</key>
	<string>V</string>
	<key>IFrameURL</key>
	<string>W</string>
	<key>InnerHTML</key>
	<string>w</string>
	<key>Left</key>
	<string>a</string>
	<key>LetterSpacing</key>
	<string>X</string>
	<key>LineHeight</key>
	<string>Y</string>
	<key>Loop</key>
	<string>aQ</string>
	<key>Muted</key>
	<string>aR</string>
	<key>Opacity</key>
	<string>e</string>
	<key>Overflow</key>
	<string>x</string>
	<key>PaddingBottom</key>
	<string>aS</string>
	<key>PaddingLeft</key>
	<string>aT</string>
	<key>PaddingRight</key>
	<string>aU</string>
	<key>PaddingTop</key>
	<string>aV</string>
	<key>Parent</key>
	<string>bF</string>
	<key>PointerEvents</key>
	<string>cN</string>
	<key>Position</key>
	<string>j</string>
	<key>ReflectionDepth</key>
	<string>aW</string>
	<key>ReflectionOffset</key>
	<string>aX</string>
	<key>RotationAngleZ</key>
	<string>f</string>
	<key>MotionPathRotation</key>
	<string>bO</string>
	<key>RotationFollowsMotionPath</key>
	<string>bP</string>
	<key>RotationAngleY</key>
	<string>aY</string>
	<key>RotationAngleX</key>
	<string>bR</string>
	<key>PersistentSymbolOid</key>
	<string>cL</string>
	<key>SkipDivCreation</key>
	<string>cM</string>
	<key>TagName</key>
	<string>k</string>
	<key>TextAlign</key>
	<string>F</string>
	<key>TextColor</key>
	<string>G</string>
	<key>TextDecoration</key>
	<string>H</string>
	<key>TransformOriginXOffset</key>
	<string>tX</string>
	<key>TransformOriginYOffset</key>
	<string>tY</string>
	<key>FilterEffectBlur</key>
	<string>bL</string>
	<key>BackdropFilterEffectBlur</key>
	<string>BDbL</string>
	<key>FilterEffectSepia</key>
	<string>bG</string>
	<key>BackdropFilterEffectSepia</key>
	<string>BDbG</string>
	<key>FilterEffectHue</key>
	<string>bH</string>
	<key>BackdropFilterEffectHue</key>
	<string>BDbH</string>
	<key>FilterEffectSaturate</key>
	<string>bI</string>
	<key>BackdropFilterEffectSaturate</key>
	<string>BDbI</string>
	<key>FilterEffectBrightness</key>
	<string>bJ</string>
	<key>BackdropFilterEffectBrightness</key>
	<string>BDbJ</string>
	<key>FilterEffectContrast</key>
	<string>bK</string>
	<key>FilterEffectBackdropPrefix</key>
	<string>BD</string>
	<key>BackdropFilterEffectContrast</key>
	<string>BDbK</string>
	<key>TextShadowBlurRadius</key>
	<string>aZ</string>
	<key>TextShadowColor</key>
	<string>bA</string>
	<key>TextShadowXOffset</key>
	<string>bB</string>
	<key>TextShadowYOffset</key>
	<string>bC</string>
	<key>Top</key>
	<string>b</string>
	<key>UserSelect</key>
	<string>bD</string>
	<key>VideoResourceGroupOid</key>
	<string>bE</string>
	<key>WhiteSpace</key>
	<string>yy</string>
	<key>WhiteSpaceCollapsing</key>
	<string>y</string>
	<key>Width</key>
	<string>c</string>
	<key>WordSpacing</key>
	<string>E</string>
	<key>WordWrap</key>
	<string>Z</string>
	<key>ZIndex</key>
	<string>z</string>
	<key>ScaleX</key>
	<string>cQ</string>
	<key>PlaysInline</key>
	<string>dA</string>
	<key>ScaleY</key>
	<string>cR</string>
</dict>
</plist>
