<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customBehaviorName</key>
	<string>B</string>
	<key>duration</key>
	<string>d</string>
	<key>actions</key>
	<string>a</string>
	<key>timelineIdentifier</key>
	<string>b</string>
	<key>gestureControlAxis</key>
	<string>c</string>
	<key>gestureControlDirection</key>
	<string>A</string>
	<key>continuePlayingAfterDrag</key>
	<string>y</string>
	<key>dragSpeed</key>
	<string>K</string>
	<key>playInReverse</key>
	<string>z</string>
	<key>canRestartTimeline</key>
	<string>J</string>
	<key>type</key>
	<string>p</string>
	<key>sceneOid</key>
	<string>e</string>
	<key>prevSceneContainerOid</key>
	<string>pe</string>
	<key>nextSceneContainerOid</key>
	<string>ne</string>
	<key>sceneSymbol</key>
	<string>f</string>
	<key>prevSceneSymbol</key>
	<string>pf</string>
	<key>nextSceneSymbol</key>
	<string>nf</string>
	<key>transition</key>
	<string>g</string>
	<key>javascriptOid</key>
	<string>h</string>
	<key>javascriptCallback</key>
	<string>hc</string>
	<key>goToTime</key>
	<string>i</string>
	<key>goToURL</key>
	<string>j</string>
	<key>openInNewWindow</key>
	<string>k</string>
	<key>emailToAddress</key>
	<string>l</string>
	<key>emailSubject</key>
	<string>m</string>
	<key>emailBody</key>
	<string>n</string>
	<key>resourceGroupOid</key>
	<string>o</string>
	<key>loop</key>
	<string>q</string>
	<key>pauseTime</key>
	<string>r</string>
	<key>encodedSymbolStartTime</key>
	<string>C</string>
	<key>encodedSymbolDuration</key>
	<string>D</string>
	<key>playing</key>
	<string>E</string>
	<key>index</key>
	<string>F</string>
	<key>currentTime</key>
	<string>G</string>
	<key>synchronizeTime</key>
	<string>H</string>
	<key>function</key>
	<string>s</string>
	<key>arguments</key>
	<string>t</string>
</dict>
</plist>
