<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instant</key>
	<string>a</string>
	<key>linear</key>
	<string>b</string>
	<key>easeinout</key>
	<string>c</string>
	<key>easein</key>
	<string>d</string>
	<key>easeout</key>
	<string>e</string>
	<key>easeoutbounce</key>
	<string>f</string>
	<key>easeinbounce</key>
	<string>B</string>
	<key>easeoutelastic</key>
	<string>g</string>
	<key>easeinelastic</key>
	<string>C</string>
	<key>easeoutback</key>
	<string>h</string>
	<key>easeinback</key>
	<string>i</string>
	<key>easeinquad</key>
	<string>j</string>
	<key>easeinquart</key>
	<string>k</string>
	<key>easeinquint</key>
	<string>l</string>
	<key>easeinsine</key>
	<string>m</string>
	<key>easeinexpo</key>
	<string>n</string>
	<key>easeincirc</key>
	<string>o</string>
	<key>easeoutquad</key>
	<string>p</string>
	<key>easeoutquart</key>
	<string>q</string>
	<key>easeoutquint</key>
	<string>r</string>
	<key>easeoutsine</key>
	<string>s</string>
	<key>easeoutexpo</key>
	<string>t</string>
	<key>easeoutcirc</key>
	<string>u</string>
	<key>easeinoutquad</key>
	<string>v</string>
	<key>easeinoutquart</key>
	<string>w</string>
	<key>easeinoutquint</key>
	<string>x</string>
	<key>easeinoutsine</key>
	<string>y</string>
	<key>easeinoutexpo</key>
	<string>z</string>
	<key>easeinoutcirc</key>
	<string>A</string>
</dict>
</plist>
