<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{1, 0}</string>
					<key>endPoint</key>
					<string>{1, 0}</string>
					<key>startControlPoint</key>
					<string>{0, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{1, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{1, 0}</string>
					<key>startPoint</key>
					<string>{1, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<false/>
		<key>oid</key>
		<string>0</string>
		<key>standardType</key>
		<string>instant</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{1, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<false/>
		<key>oid</key>
		<string>1</string>
		<key>standardType</key>
		<string>linear</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{1, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.42, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<false/>
		<key>oid</key>
		<string>3</string>
		<key>standardType</key>
		<string>easein</string>
		<key>children</key>
		<array>
			<string>easein</string>
			<string>easeinquad</string>
			<string>easeinquart</string>
			<string>easeinquint</string>
			<string>easeinsine</string>
			<string>easeinexpo</string>
			<string>easeincirc</string>
		</array>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.58, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<false/>
		<key>oid</key>
		<string>4</string>
		<key>standardType</key>
		<string>easeout</string>
		<key>children</key>
		<array>
			<string>easeout</string>
			<string>easeoutquad</string>
			<string>easeoutquart</string>
			<string>easeoutquint</string>
			<string>easeoutsine</string>
			<string>easeoutexpo</string>
			<string>easeoutcirc</string>
		</array>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.58, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.42, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<false/>
		<key>oid</key>
		<string>5</string>
		<key>standardType</key>
		<string>easeinout</string>
		<key>children</key>
		<array>
			<string>easeinout</string>
			<string>easeinoutquad</string>
			<string>easeinoutquart</string>
			<string>easeinoutquint</string>
			<string>easeinoutsine</string>
			<string>easeinoutexpo</string>
			<string>easeinoutcirc</string>
		</array>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.3391, 0.8944}</string>
					<key>endPoint</key>
					<string>{0.3636, 1.0}</string>
					<key>startControlPoint</key>
					<string>{0.1971, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.4425, 0.75}</string>
					<key>endPoint</key>
					<string>{0.5455, 0.75}</string>
					<key>startControlPoint</key>
					<string>{0.3636, 1}</string>
					<key>startPoint</key>
					<string>{0.3636, 1}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.7273, 1}</string>
					<key>endPoint</key>
					<string>{0.7273, 1}</string>
					<key>startControlPoint</key>
					<string>{0.6519, 0.75}</string>
					<key>startPoint</key>
					<string>{0.5455, 0.75}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.7718, 0.9375}</string>
					<key>endPoint</key>
					<string>{0.8182, 0.9375}</string>
					<key>startControlPoint</key>
					<string>{0.7273, 1}</string>
					<key>startPoint</key>
					<string>{0.7273, 1}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.9091, 1}</string>
					<key>endPoint</key>
					<string>{0.9091, 1}</string>
					<key>startControlPoint</key>
					<string>{0.8646, 0.9375}</string>
					<key>startPoint</key>
					<string>{0.8182, 0.9375}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.9294, 0.9844}</string>
					<key>endPoint</key>
					<string>{0.9546, 0.9844}</string>
					<key>startControlPoint</key>
					<string>{0.9091, 1}</string>
					<key>startPoint</key>
					<string>{0.9091, 1}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{1, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.9798, 0.9844}</string>
					<key>startPoint</key>
					<string>{0.9546, 0.9844}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<integer>100</integer>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<false/>
		<key>oid</key>
		<string>6</string>
		<key>standardType</key>
		<string>easeoutbounce</string>
		<key>children</key>
		<array>
			<string>easeoutbounce</string>
			<string>easeinbounce</string>
		</array>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.3391, 0.8944}</string>
					<key>endPoint</key>
					<string>{0.3636, 1.0}</string>
					<key>startControlPoint</key>
					<string>{0.1971, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.4425, 0.75}</string>
					<key>endPoint</key>
					<string>{0.5455, 0.75}</string>
					<key>startControlPoint</key>
					<string>{0.3636, 1}</string>
					<key>startPoint</key>
					<string>{0.3636, 1}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.7273, 1}</string>
					<key>endPoint</key>
					<string>{0.7273, 1}</string>
					<key>startControlPoint</key>
					<string>{0.6519, 0.75}</string>
					<key>startPoint</key>
					<string>{0.5455, 0.75}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.7718, 0.9375}</string>
					<key>endPoint</key>
					<string>{0.8182, 0.9375}</string>
					<key>startControlPoint</key>
					<string>{0.7273, 1}</string>
					<key>startPoint</key>
					<string>{0.7273, 1}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.9091, 1}</string>
					<key>endPoint</key>
					<string>{0.9091, 1}</string>
					<key>startControlPoint</key>
					<string>{0.8646, 0.9375}</string>
					<key>startPoint</key>
					<string>{0.8182, 0.9375}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.9294, 0.9844}</string>
					<key>endPoint</key>
					<string>{0.9546, 0.9844}</string>
					<key>startControlPoint</key>
					<string>{0.9091, 1}</string>
					<key>startPoint</key>
					<string>{0.9091, 1}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{1, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.9798, 0.9844}</string>
					<key>startPoint</key>
					<string>{0.9546, 0.9844}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<integer>100</integer>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>6</string>
		<key>standardType</key>
		<string>easeinbounce</string>
		<key>parent</key>
		<string>easeoutbounce</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.089, 1.373}</string>
					<key>endPoint</key>
					<string>{0.169, 1.373}</string>
					<key>startControlPoint</key>
					<string>{0.0425, 0.22}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.2656, 0.868}</string>
					<key>endPoint</key>
					<string>{0.356, 0.868}</string>
					<key>startControlPoint</key>
					<string>{0.223, 1.373}</string>
					<key>startPoint</key>
					<string>{0.169, 1.373}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.457, 1.047}</string>
					<key>endPoint</key>
					<string>{0.544, 1.047}</string>
					<key>startControlPoint</key>
					<string>{0.4085, 0.868}</string>
					<key>startPoint</key>
					<string>{0.356, 0.868}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.637, 0.984}</string>
					<key>endPoint</key>
					<string>{0.731, 0.984}</string>
					<key>startControlPoint</key>
					<string>{0.5976, 1.047}</string>
					<key>startPoint</key>
					<string>{0.544, 1.047}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.829, 1.006}</string>
					<key>endPoint</key>
					<string>{0.919, 1.006}</string>
					<key>startControlPoint</key>
					<string>{0.794, 0.984}</string>
					<key>startPoint</key>
					<string>{0.731, 0.984}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{1, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.953, 1.006}</string>
					<key>startPoint</key>
					<string>{0.919, 1.006}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<integer>100</integer>
			<key>showAllControlPoints</key>
			<true/>
			<key>useIntegerValues</key>
			<false/>
			<key>useSmallStyle</key>
			<true/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<false/>
		<key>oid</key>
		<string>7</string>
		<key>standardType</key>
		<string>easeoutelastic</string>
		<key>children</key>
		<array>
			<string>easeoutelastic</string>
			<string>easeinelastic</string>
		</array>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.089, 1.373}</string>
					<key>endPoint</key>
					<string>{0.169, 1.373}</string>
					<key>startControlPoint</key>
					<string>{0.0425, 0.22}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.2656, 0.868}</string>
					<key>endPoint</key>
					<string>{0.356, 0.868}</string>
					<key>startControlPoint</key>
					<string>{0.223, 1.373}</string>
					<key>startPoint</key>
					<string>{0.169, 1.373}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.457, 1.047}</string>
					<key>endPoint</key>
					<string>{0.544, 1.047}</string>
					<key>startControlPoint</key>
					<string>{0.4085, 0.868}</string>
					<key>startPoint</key>
					<string>{0.356, 0.868}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.637, 0.984}</string>
					<key>endPoint</key>
					<string>{0.731, 0.984}</string>
					<key>startControlPoint</key>
					<string>{0.5976, 1.047}</string>
					<key>startPoint</key>
					<string>{0.544, 1.047}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{0.829, 1.006}</string>
					<key>endPoint</key>
					<string>{0.919, 1.006}</string>
					<key>startControlPoint</key>
					<string>{0.794, 0.984}</string>
					<key>startPoint</key>
					<string>{0.731, 0.984}</string>
				</dict>
				<dict>
					<key>endControlPoint</key>
					<string>{1, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.953, 1.006}</string>
					<key>startPoint</key>
					<string>{0.919, 1.006}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<integer>100</integer>
			<key>showAllControlPoints</key>
			<true/>
			<key>useIntegerValues</key>
			<false/>
			<key>useSmallStyle</key>
			<true/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>7</string>
		<key>standardType</key>
		<string>easeinelastic</string>
		<key>parent</key>
		<string>easeoutelastic</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.32, 1.25}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.175, 0.885}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<integer>100</integer>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<false/>
		<key>oid</key>
		<string>8</string>
		<key>standardType</key>
		<string>easeoutback</string>
		<key>children</key>
		<array>
			<string>easeoutback</string>
			<string>easeinback</string>
		</array>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.735, 0.045}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.6, -0.28}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<integer>100</integer>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>9</string>
		<key>standardType</key>
		<string>easeinback</string>
		<key>parent</key>
		<string>easeoutback</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.68, 0.53}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.55, 0.085}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>10</string>
		<key>standardType</key>
		<string>easeinquad</string>
		<key>parent</key>
		<string>easein</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.685, 0.22}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.895, 0.03}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>11</string>
		<key>standardType</key>
		<string>easeinquart</string>
		<key>parent</key>
		<string>easein</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.855, 0.06}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.755, 0.05}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>12</string>
		<key>standardType</key>
		<string>easeinquint</string>
		<key>parent</key>
		<string>easein</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.745, 0.715}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.47, 0.0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>13</string>
		<key>standardType</key>
		<string>easeinsine</string>
		<key>parent</key>
		<string>easein</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.795, 0.035}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.95, 0.05}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>14</string>
		<key>standardType</key>
		<string>easeinexpo</string>
		<key>parent</key>
		<string>easein</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.98, 0.335}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.6, 0.04}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>15</string>
		<key>standardType</key>
		<string>easeincirc</string>
		<key>parent</key>
		<string>easein</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.45, 0.94}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.25, 0.46}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>eo1</string>
		<key>standardType</key>
		<string>easeoutquad</string>
		<key>parent</key>
		<string>easeout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.44, 1.0}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.165, 0.84}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>17</string>
		<key>standardType</key>
		<string>easeoutquart</string>
		<key>parent</key>
		<string>easeout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.32, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.23, 1}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>18</string>
		<key>standardType</key>
		<string>easeoutquint</string>
		<key>parent</key>
		<string>easeout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.565, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.39, 0.575}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>19</string>
		<key>standardType</key>
		<string>easeoutsine</string>
		<key>parent</key>
		<string>easeout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.22, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.19, 1}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>20</string>
		<key>standardType</key>
		<string>easeoutexpo</string>
		<key>parent</key>
		<string>easeout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.0165, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.075, 0.82}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>21</string>
		<key>standardType</key>
		<string>easeoutcirc</string>
		<key>parent</key>
		<string>easeout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.515, 0.955}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.455, 0.03}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>22</string>
		<key>standardType</key>
		<string>easeinoutquad</string>
		<key>parent</key>
		<string>easeinout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.175, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.77, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>23</string>
		<key>standardType</key>
		<string>easeinoutquart</string>
		<key>parent</key>
		<string>easeinout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.07, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.86, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>24</string>
		<key>standardType</key>
		<string>easeinoutquint</string>
		<key>parent</key>
		<string>easeinout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.55, 0.95}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.445, 0.05}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>25</string>
		<key>standardType</key>
		<string>easeinoutsine</string>
		<key>parent</key>
		<string>easeinout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0, 1}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{1, 0}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>26</string>
		<key>standardType</key>
		<string>easeinoutexpo</string>
		<key>parent</key>
		<string>easeinout</string>
	</dict>
	<dict>
		<key>bezierPath</key>
		<dict>
			<key>allowEndPointModification</key>
			<false/>
			<key>bezierCurves</key>
			<array>
				<dict>
					<key>endControlPoint</key>
					<string>{0.15, 0.86}</string>
					<key>endPoint</key>
					<string>{1, 1}</string>
					<key>startControlPoint</key>
					<string>{0.785, 0.135}</string>
					<key>startPoint</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>interpolationPointCount</key>
			<real>100</real>
			<key>showAllControlPoints</key>
			<false/>
			<key>useIntegerValues</key>
			<false/>
		</dict>
		<key>hiddenFromTimingFunctionsMenu</key>
		<true/>
		<key>oid</key>
		<string>27</string>
		<key>standardType</key>
		<string>easeinoutcirc</string>
		<key>parent</key>
		<string>easeinout</string>
	</dict>
</array>
</plist>
