<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>safari-mac-none</string>
		<key>name</key>
		<string>Safari</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>None</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-mac-latest</string>
		<key>name</key>
		<string>Safari</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>Latest</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-mac-9</string>
		<key>name</key>
		<string>Safari</string>
		<key>device</key>
		<string>Mac</string>
		<key>version</key>
		<string>9.0.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-mac-8</string>
		<key>name</key>
		<string>Safari</string>
		<key>device</key>
		<string>Mac</string>
		<key>version</key>
		<string>8.0.3</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-mac-6</string>
		<key>name</key>
		<string>Safari</string>
		<key>device</key>
		<string>Mac</string>
		<key>version</key>
		<string>6.0.5</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-mac-5</string>
		<key>name</key>
		<string>Safari</string>
		<key>device</key>
		<string>Mac</string>
		<key>version</key>
		<string>5.1.3</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-ios-none</string>
		<key>name</key>
		<string>Mobile Safari</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>None</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-ios</string>
		<key>name</key>
		<string>Mobile Safari</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>Latest</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-ios-10</string>
		<key>name</key>
		<string>Mobile Safari</string>
		<key>device</key>
		<string>iOS</string>
		<key>version</key>
		<string>10.0.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-ios-9</string>
		<key>name</key>
		<string>Mobile Safari</string>
		<key>device</key>
		<string>iOS</string>
		<key>version</key>
		<string>9.0.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-ios-8</string>
		<key>name</key>
		<string>Mobile Safari</string>
		<key>device</key>
		<string>iOS</string>
		<key>version</key>
		<string>8.1.2</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-ios-7</string>
		<key>name</key>
		<string>Mobile Safari</string>
		<key>device</key>
		<string>iOS</string>
		<key>version</key>
		<string>7.1.2</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-ios-6</string>
		<key>name</key>
		<string>Mobile Safari</string>
		<key>device</key>
		<string>iOS</string>
		<key>version</key>
		<string>6.1.3</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-ios-5</string>
		<key>name</key>
		<string>Mobile Safari</string>
		<key>device</key>
		<string>iOS</string>
		<key>version</key>
		<string>5.1.1</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>safari-ios-4-3</string>
		<key>name</key>
		<string>Mobile Safari</string>
		<key>device</key>
		<string>iOS</string>
		<key>version</key>
		<string>4.3.1</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>chrome-none</string>
		<key>name</key>
		<string>Chrome</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>None</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>chrome-latest</string>
		<key>name</key>
		<string>Chrome</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>Latest</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>chrome-23</string>
		<key>name</key>
		<string>Chrome</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>44</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>chrome-12</string>
		<key>name</key>
		<string>Chrome</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>12</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>chrome-9</string>
		<key>name</key>
		<string>Chrome</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>9</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>android-none</string>
		<key>name</key>
		<string>Android</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>None</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>android-latest</string>
		<key>name</key>
		<string>Android</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>Latest</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>android-5</string>
		<key>name</key>
		<string>Android</string>
		<key>device</key>
		<string>Lollipop</string>
		<key>version</key>
		<string>5.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>android-4-1-2</string>
		<key>name</key>
		<string>Android</string>
		<key>device</key>
		<string>Jelly Bean</string>
		<key>version</key>
		<string>4.1.2</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>android-4</string>
		<key>name</key>
		<string>Android</string>
		<key>device</key>
		<string>ICS</string>
		<key>version</key>
		<string>4.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>android-2-3</string>
		<key>name</key>
		<string>Android</string>
		<key>device</key>
		<string>Gingerbread</string>
		<key>version</key>
		<string>2.3</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>firefox-none</string>
		<key>name</key>
		<string>Firefox</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>None</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>firefox-latest</string>
		<key>name</key>
		<string>Firefox</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>Latest</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>firefox-35.0</string>
		<key>name</key>
		<string>Firefox</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>35.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>firefox-16.0</string>
		<key>name</key>
		<string>Firefox</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>22.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>firefox-11.0</string>
		<key>name</key>
		<string>Firefox</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>11.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>firefox-10.0</string>
		<key>name</key>
		<string>Firefox</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>10.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>firefox-5.0</string>
		<key>name</key>
		<string>Firefox</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>5.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>firefox-4.0</string>
		<key>name</key>
		<string>Firefox</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>4.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>firefox-3.6</string>
		<key>name</key>
		<string>Firefox</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>3.6</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-none</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>None</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-latest</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>Latest</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-15</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string>Edge</string>
		<key>version</key>
		<string>15</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-13</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string>Edge</string>
		<key>version</key>
		<string>13</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-12</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string>Edge</string>
		<key>version</key>
		<string>12</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-11</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>11</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-10</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>10</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-9</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>9</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-8</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>8</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>msie-6</string>
		<key>name</key>
		<string>IE</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>6</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>opera-none</string>
		<key>name</key>
		<string>Opera</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>None</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>opera-latest</string>
		<key>name</key>
		<string>Opera</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>Latest</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>opera-1500</string>
		<key>name</key>
		<string>Opera</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>15.0</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>opera-1210</string>
		<key>name</key>
		<string>Opera</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>12.10</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>opera-1110</string>
		<key>name</key>
		<string>Opera</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>11.10</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>ibooks-none</string>
		<key>name</key>
		<string>iBooks</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>None</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>ibooks-latest</string>
		<key>name</key>
		<string>iBooks</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>Latest</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>iBooks-3</string>
		<key>name</key>
		<string>iBooks</string>
		<key>device</key>
		<string></string>
		<key>version</key>
		<string>3</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
