<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
		<key>type</key>
		<string>languageDefinition</string>
		<key>colors</key>
		<array>
			<array>
				<real>0.25</real>
				<real>0.57</real>
				<real>0.2</real>
				<string>Comments</string>
			</array>
			<array>
                    <real>0.55</real>
				<real>0.07</real>
				<real>0.35</real>
		<string>Keywords</string>
                </array>
                <array>
                    <real>0.65</real>
                    <real>0.45</real>
                    <real>0.4</real>
		<string>Strings and Characters</string>
                        </array>			
		</array>
		<key>languageID</key>
		<integer>-3</integer>
		<key>languageName</key>
		<string>Javascript</string>
		<key>fileExtensions</key>
		<array>
			<string>js</string>
			<string>JS</string>
		</array>
		<key>validIdentifierCharacters</key>
		<string>_0987654321abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</string>
    </dict>
    <dict>
		<key>color</key>
		<string>Keywords</string>
		<key>type</key>
		<string>standard</string>
		<key>wordlist</key>
		<array>
                <string>if</string>
                <string>else</string>
                <string>for</string>
                <string>in</string>
                <string>while</string>
                <string>do</string>
                <string>continue</string>
                <string>break</string>
                <string>with</string>
                <string>try</string>
                <string>catch</string>
                <string>switch</string>
                <string>case</string>
                <string>new</string>
                <string>var</string>
                <string>function</string>
                <string>return</string>
                <string>this</string>
                <string>delete</string>
                <string>true</string>
                <string>false</string>
                <string>void</string>
                <string>throw</string>
                <string>typeof</string>
                <string>const</string>
                <string>default</string>
                <string>null</string>
            </array>
	</dict>
	<dict>
		<key>color</key>
		<string>Comments</string>
		<key>type</key>
		<string>run</string>
		<key>wordlist</key>
		<dict>
			<key>ends</key>
			<array>
				<dict>
					<key>realEnd</key>
					<string>*/</string>
				</dict>
			</array>
			<key>start</key>
			<string>/*</string>
		</dict>
	</dict>
	<dict>
		<key>color</key>
		<string>Strings and Characters</string>
		<key>type</key>
		<string>run</string>
		<key>wordlist</key>
		<dict>
			<key>ends</key>
			<array>
			     <dict>
					<key>realEnd</key>
					<string>
</string>
				</dict>
				<dict>
					<key>noEnd</key>
					<string>\"</string>
					<key>realEnd</key>
					<string>"</string>
				</dict>
			</array>
			<key>start</key>
			<string>"</string>
		</dict>
	</dict>
		<dict>
		<key>color</key>
		<string>Strings and Characters</string>
		<key>type</key>
		<string>run</string>
		<key>wordlist</key>
		<dict>
			<key>ends</key>
			<array>
			     <dict>
					<key>realEnd</key>
					<string>
</string>
				</dict>
				<dict>
					<key>noEnd</key>
					<string>\'</string>
					<key>realEnd</key>
					<string>'</string>
				</dict>
			</array>
			<key>start</key>
			<string>'</string>
		</dict>
	</dict>
	<dict>
		<key>color</key>
		<string>Comments</string>
		<key>type</key>
		<string>run</string>
		<key>wordlist</key>
		<dict>
			<key>ends</key>
			<array>
				<dict>
					<key>realEnd</key>
					<string>
</string>
				</dict>
			</array>
			<key>start</key>
			<string>//</string>
		</dict>
	</dict>
</array>
</plist>
